body {
	padding-left: 2%;
	padding-top: 1%;
	background: black;
	color: white;
	font-family: "Book Antiqua";
}

/* unvisited link */
a:link {
  color: #F07D90;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #F07D90;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #7fff00;
}

/* selected link */
a:active {
  color: #F07D90;
}