.head {
  position: fixed;
  top: 0px;
  left: 0px;
  background: darkblue;
  color: white;
  width: 100%;
  text-align: center;
}

body {
  position: absolute;
  padding: 1%;
	background: ghostwhite;
	color: darkblue;
	font-family: 'Radio Canada', monospace;
	line-height: 1.5;
  max-width: max-content;
  margin: auto;
  padding-left: 16%;
  padding-right: 16%;
}

/* unvisited link */
a:link {
  font-weight: bold;
  color: darkblue;
  padding-right: 1px;
}

/* visited link */
a:visited {
  font-weight: bold;
  color: lightslategrey;
  padding-right: 1px;
}

/* mouse over link */
a:hover {
  font-weight: bold;
  color: whitesmoke;
  padding-right: 1px;
}

/* selected link */
a:active {
  font-weight: bold;
  color: darkblue;
  padding-right: 1px;
}

h2 {
}

hr {
  width: 100%;
  border-style: solid;
}